*.a
*.dat
*genmod*
*.mod
*.o
*.so
*.out*
*.th_o
.deps
.dirstamp

autom4te.cache
config.h
config.h.in~
config.log
config.status
Makefile
configure~
configure.ac~

stamp-h1

examples/fmm
examples/kernel
examples/tree
examples/vec
examples/biotsavart
examples/biotsavart_kernel
examples/helmholtz
examples/helmholtz_kernel
examples/laplace
examples/laplace_kernel

accuracy.reg
time_
